<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="Pytania">
      <div class="tab-content">
        <h2>Pytania</h2>
        <p>{{ firstTabContent }}</p>
      </div>
    </mat-tab>
    <mat-tab label="Odpowiedzi">
      <div class="tab-content">
        <h2>Odpowiedzi</h2>
        <p>{{ secondTabContent }}</p>
      </div>
    </mat-tab>
    <mat-tab label="Ustawienia">
      <div class="tab-content">
        <h2>Ustawienia</h2>
        <p>{{ thirdTabContent }}</p>
      </div>
    </mat-tab>
  </mat-tab-group>
