.app-header {
    width: 100vw;
    height: 90px;
    background-color: rgb(241, 241, 241);

    &__top-section {
        display: flex;
        justify-content: space-between;
    }

    &__form-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        width: 270px;
    }
}